*Copie.*
ignore/
userdata/
userdata/log/
userdata/analysis/
userdata/traces/
userdata/sessions/
userdata/savetracks/
*.pyc
*.bmp
lib/TP_lib/__init__.py
lib/TP_lib/epd2in13_V2.py
lib/TP_lib/epd2in9_V2.py
lib/TP_lib/weather_2in9_V2.py
MyChronoGPS - Copie (2).py
MyChronoGPS_eMenus.py
test_find.py
MyChronoGPS_TE2in13V3 - Copie (2).py
